@unit: px;
@height: convert(6in,px);
@header-height: 26px;
@width: convert(7in,px);
@font-size: 16px;
@padding: 4px;
@border: 1px;

@nonspine-shrink: 2px;
@cell-height: (@height - @header-height) / 5;
@normal-width: @width/8 - @nonspine-shrink;
@center-width: @width/8 + @nonspine-shrink*3;

@page {
	size: @width @height;
	margin:0;
}

html { box-sizing: border-box !important; }
*, *::before, *::after { box-sizing: inherit !important; }

html, body { width: @width; height: @height; margin:0; padding: 0; }
body { font:@font-size/1 Arial; }
table { margin-bottom: 1in; }

.month-text, .year-text { overflow:hidden; text-align: center; }
.month-text { font-size: 18px; }
.feb, .sep, .nov, .dec { .month-text { font-family: "Arial Narrow"; } }
.year-text { font-size: 26px; font-weight: bold; }
// .jan, .mar, .may, .jul, .aug, .oct, .dec { .d-31 }
// .apr, .jun, .sep, .nov { .d-30 }
.jan .month-text::before { content: "January"; }
.feb .month-text::before { content: "February"; }
.mar .month-text::before { content: "March"; }
.apr .month-text::before { content: "April"; }
.may .month-text::before { content: "May"; }
.jun .month-text::before { content: "June"; }
.jul .month-text::before { content: "July"; }
.aug .month-text::before { content: "August"; }
.sep .month-text::before { content: "September"; }
.oct .month-text::before { content: "October"; }
.nov .month-text::before { content: "November"; }
.dec .month-text::before { content: "December"; }

table, thead, tbody, tfoot, tr, th, td, p { border: 0 none; margin:0; padding: 0; }

table {
	table-layout:fixed;
	border-spacing:0; border-collapse: collapse;
	width:100%; height: 100%;
	// page-break-inside: avoid;
	// page-break-after: always;
}

tr:nth-child(2) td { border-top: none; }
tr:last-child td, td.notes-box { border-bottom: none; }
td.notes-box { border-left: none; }

th, td {
	padding: @padding; width: @normal-width;
	&:last-child { border-right: none; }
}

th {
	font-weight: normal;
	&:not(.main-header) {
		height: @header-height;
		background: black;
		color: white;
		&:not(:last-child) { border-right: @border solid white; }
	}
	&.main-header { border-right: @border solid black; }
	&.wed { font-family: "Arial Narrow"; }
	&:nth-child(4), &:nth-child(5) { width: @center-width; }
}

td {
	vertical-align: top;
	height: @cell-height;
	border: @border solid black;
}
tr.has-spanned-cell {
	:nth-child(4) { border-right: none; }
	:nth-child(5) { border-left: none; padding-left: @padding + @nonspine-shrink*3; }
}
tr:not(.has-spanned-cell) {
	:nth-child(3) { border-right: none; }
	:nth-child(4) { border-left: none; padding-left: @padding + @nonspine-shrink*3; }
}

//Days
table {
	counter-reset: day;
	&.mon-s { .skips-for(0); }
	&.tue-s { .skips-for(1); }
	&.wed-s { .skips-for(2); }
	&.thu-s { .skips-for(3); }
	&.fri-s { .skips-for(4); }
	&.sat-s { .skips-for(5); }
	&.sun-s { .skips-for(6); }
}

.skips-for(@offset) {
	.skip-until(@offset);
	.skip-after-for(@offset,0);
}

.skip-until(@count) when (@count > 0) {
	tr:nth-child(2) td:nth-child(@{count}) { .no-number; }
	.skip-until(@count - 1);
}

.skip-after-for(@offset,@counter) when (@counter < 4) {
	@length: @counter + 28;
	&.d-@{length} { .skip-after(@offset + @counter + 1); }
	.skip-after-for(@offset,@counter + 1)
}

.skip-after(@count) when (@count <= 7) {
	tr:last-child td:nth-child(@{count}) { .no-number; }
	.skip-after(@count + 1);
}

.no-number {
	&::before { content: none; }
	counter-increment: none;
	border:none;
}

td:not(.notes-box) {
	&::before { content: counter(day); }
	counter-increment: day;
}

table.sun-s.d-31 { .split-cells(29,2); }
table.sun-s.d-30 { .split-cells(29,1); }
table.sat-s.d-31 { .split-cells(30,1); }

.split-cells(@day,@count) when (@count > 0) {
	tr:last-child td:nth-child(@{count}) {
		position:relative;
		&::after {
			@num: @day + @count;
			content: "@{num}";
			display:inline-block; width:@normal-width; height:50%;
			padding: @padding;
			position:absolute; top:@cell-height / 2; left:0 - @border;
			border-top:@border solid black;
		}
	}
	.split-cells(@day,@count - 1);
}